/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug{
  border: 1px solid red;
}
/* General */
body{
  /* max-width: 1200px; */
  margin: 0 auto;
  background-color: #000000;
  color: #fff;
  font-family: 'Lato', sans-serif;
}

/* Header */
header{
  width: 100%;
  height: 20px;
  /* position: fixed; */
}
.top{
  position: relative;
  border: 1px solid red;
}

.top .top-right{
  top: -20px;
  right: 0px;
  position: absolute;
  display: inline-block;
  padding-right: 5px;
  border: 1px solid green;
}

/* Main */
.container-flex{
  margin: 30px auto;
  width: 90%;
  max-height: 770px;
  overflow-y: scroll;
}
.row-img{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
 
}
.box-img{
  width: calc(100% / 7);
  height: calc(100vh / 140px);
  margin: 0 3px;
  position: relative;
  flex-basis: 240px;
  flex-grow: 0;
  flex-shrink: 0;
}
.box-img img{
  width: 240px;
  height: 140px;
}
.box-img:last-child{
  flex: 0 1 auto;
}
.label-img{
  position: absolute;
  bottom: 5px;
  padding: 5px;
  background-color: #58636d;
  color: #fff;
}


/* Footer */
.footer-flex{
  position: fixed;
  width: 100%;
  height: 80px;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #222222;
  color: #fff;
  border: 1px solid red;
}
.footer-left, .footer-right{
  width: 20%;
  display: flex;
  flex-flow: row nowrap;
  border: 1px solid yellow;
}
.footer-center{
  width: 50%;
  display: flex;
  flex-flow: row nowrap;
  border: 1px solid yellow;
}
.box {
  margin-left: 10px;
  text-align: center;
}
.footer-label{
  position: relative;
  padding: 5px;
}
.small{
  font-size: 12px;
}
.green{
  color: #51c623;
}
.footer-left .icon-big, .footer-center .icon-big{
font-size: 26px;
margin:10px 15px;
}
.footer-left .icon, .footer-center .icon{
font-size: 14px;
padding-top: 30px;
}
.end{
  position: absolute;
  width: 100px;
  height: 80px;
  padding: 10px;
  padding-top: 30px;
  right: 0;
  bottom: 0;
  font-size: 14px;
  background-color: #4a4a4a;
  color: #fc0d1b;
}


