/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug{
  border: 1px solid red;
}
/* General */
body{
  /* max-width: 1200px; */
  margin: 0 auto;
  background-color: #000000;
  color: #fff;
  font-family: 'Lato', sans-serif;
}

/* Header */
header{
  width: 100%;
  height: 20px;
  /* position: fixed; */
}
.top{
  position: relative;
  border: 1px solid red;
}

.top .top-right{
  top: -20px;
  right: 0px;
  position: absolute;
  display: inline-block;
  padding-right: 5px;
  border: 1px solid green;
}

/* Main */
.container-flex{
  margin: 30px auto;
  width: 90%;
  max-height: 770px;
  overflow-y: scroll;
}
.row-img{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
 
}
.box-img{
  width: calc(100% / 7);
  height: calc(100vh / 140px);
  margin: 0 3px;
  position: relative;
  flex-basis: 240px;
  flex-grow: 0;
  flex-shrink: 0;
}
.box-img img{
  width: 240px;
  height: 140px;
}
.box-img:last-child{
  flex: 1 1 auto;
}
.label-img{
  position: absolute;
  bottom: 5px;
  padding: 5px;
  background-color: #58636d;
  color: #fff;
}


/* Footer */
.footer-flex{
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  background-color: #222222;
  color: #fff;
  border: 1px solid red;
}
.nav-footer{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  border: 1px solid yellow;
}


.footer-left{
  width: 20%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around; 
  font-size: 30px;
  left: 10px;
  top: 5px;
  border: 1px solid yellow;
}
.box {

border: 1px solid green;
}


border: 1px solid red;
}
.footer-left .fa-chevron-up{

border: 1px solid red;
}
